.header {
    font-size: 20px;
    -unity-font-definition: url("project://database/Assets/AnyUI/Demo/Terrain/Assets/Scifi%20Adventure.otf?fileID=12800000&guid=e9b5dfc72458172429deede049981e5b&type=3#Scifi Adventure");
    -unity-text-align: upper-center;
    color: rgb(174, 255, 245);
    top: 20px;
}

.button {
    -unity-font-definition: url("project://database/Assets/Art/UI/Fonts/uni-sans/Uni%20Sans%20Heavy.otf?fileID=12800000&guid=9e78360efe2840a4aa74c136fa66588b&type=3#Uni Sans Heavy");
    font-size: 20px;
    color: rgb(174, 255, 205);
    background-color: rgba(0, 0, 0, 0);
    width: 300px;
    height: 30px;
    -unity-text-align: middle-left;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    align-self: center;
    padding-top: 0;
    left: -300px;
    transition-duration: 0.2s;
    top: auto;
    bottom: auto;
}

.button:hover {
    translate: 10px 0;
}

.optionButton {
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=2230732570650464555&guid=349cde46e80fda1479c891b2cd0270ac&type=3#NotInter-Regular");
    color: rgb(174, 255, 245);
    -unity-font-style: normal;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
}

.optionButton:hover {
    color: rgb(255, 174, 184);
    scale: 1.1 1.1;
}

.menu-container {
}

.slider {
    -unity-font-definition: url("project://database/Assets/Art/UI/Fonts/uni-sans/Uni%20Sans%20Heavy.otf?fileID=12800000&guid=9e78360efe2840a4aa74c136fa66588b&type=3#Uni Sans Heavy");
    align-self: center;
    -unity-text-align: middle-right;
    -unity-font-style: normal;
    color: rgb(174, 255, 205);
    width: 350px;
    left: 0;
    margin-top: 5px;
}

#MasterVolumeSlider #unity-tracker {
    color: rgba(27, 27, 27, 0.72);
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

#MasterVolumeSlider #unity-dragger {
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

#MasterVolumeSlider #unity-drag-container {
    background-image: url("project://database/Assets/ThirdParty/Wenrexa%20Interface%20UI%20KIT%20%234/PNG/ProgressBar_06/BarV6_Bar.png?fileID=2800000&guid=b326c0921b018514bb00a5404cc94801&type=3#BarV6_Bar");
    -unity-background-image-tint-color: rgb(174, 255, 205);
    overflow: hidden;
    height: 15px;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    top: 6px;
}

.bar {
    width: 2000px;
    height: 100%;
    background-color: rgb(174, 255, 205);
    align-self: flex-end;
    flex-grow: 0;
    position: relative;
    left: auto;
    justify-content: flex-start;
    margin-top: 4px;
    margin-left: 6px;
}

#MusicVolumeSlider #unity-tracker {
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

#MusicVolumeSlider #unity-dragger {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#MusicVolumeSlider #unity-drag-container {
    background-image: url("project://database/Assets/ThirdParty/Wenrexa%20Interface%20UI%20KIT%20%234/PNG/ProgressBar_06/BarV6_Bar.png?fileID=2800000&guid=b326c0921b018514bb00a5404cc94801&type=3#BarV6_Bar");
    -unity-background-image-tint-color: rgb(174, 255, 205);
    top: 6px;
    height: 15px;
    background-size: 100% 100%;
    overflow: hidden;
}

#SFXVolumeSlider #unity-tracker {
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

#SFXVolumeSlider #unity-dragger {
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0);
}

#SFXVolumeSlider #unity-drag-container {
    background-image: url("project://database/Assets/ThirdParty/Wenrexa%20Interface%20UI%20KIT%20%234/PNG/ProgressBar_06/BarV6_Bar.png?fileID=2800000&guid=b326c0921b018514bb00a5404cc94801&type=3#BarV6_Bar");
    -unity-background-image-tint-color: rgb(174, 255, 205);
    height: 15px;
    top: 6px;
    overflow: hidden;
}

#UIVolumeSlider #unity-tracker {
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

#UIVolumeSlider #unity-dragger {
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

#UIVolumeSlider #unity-drag-container {
    background-image: url("project://database/Assets/ThirdParty/Wenrexa%20Interface%20UI%20KIT%20%234/PNG/ProgressBar_06/BarV6_Bar.png?fileID=2800000&guid=b326c0921b018514bb00a5404cc94801&type=3#BarV6_Bar");
    -unity-background-image-tint-color: rgb(166, 230, 190);
    height: 15px;
    top: 6px;
    overflow: hidden;
}

.selectorButton {
    transition-duration: 0.3s;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    scale: 0.6 0.6;
}

.selectorButton:hover {
    scale: 0.7 0.7;
}

#MasterVolumeSlider Label {
    position: relative;
    left: -10px;
}

#MusicVolumeSlider Label {
    left: -10px;
}

#SFXVolumeSlider Label {
    left: -10px;
}

#UIVolumeSlider Label {
    left: -10px;
}
