.header {
    font-size: 20px;
    -unity-font-definition: url("project://database/Assets/AnyUI/Demo/Terrain/Assets/Scifi%20Adventure.otf?fileID=12800000&guid=e9b5dfc72458172429deede049981e5b&type=3#Scifi Adventure");
    -unity-text-align: upper-center;
    color: rgb(174, 255, 245);
    top: 20px;
}

.button {
    -unity-font-definition: url("project://database/Assets/Art/UI/Fonts/uni-sans/Uni%20Sans%20Heavy.otf?fileID=12800000&guid=9e78360efe2840a4aa74c136fa66588b&type=3#Uni Sans Heavy");
    font-size: 20px;
    color: rgb(174, 255, 205);
    background-color: rgba(0, 0, 0, 0);
    width: 300px;
    height: 30px;
    -unity-text-align: middle-left;
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    align-self: center;
    padding-top: 0;
    left: -300px;
    transition-duration: 0.2s;
    top: auto;
    bottom: auto;
}

.button:hover {
    translate: 10px 0;
}

.optionButton {
    -unity-font-definition: url("project://database/Assets/UI%20Toolkit/UnityThemes/UnityDefaultRuntimeTheme.tss?fileID=2230732570650464555&guid=349cde46e80fda1479c891b2cd0270ac&type=3#NotInter-Regular");
    color: rgb(174, 255, 245);
    -unity-font-style: normal;
    background-color: rgba(0, 0, 0, 0);
    border-left-color: rgba(0, 0, 0, 0);
    border-right-color: rgba(0, 0, 0, 0);
    border-top-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
    transition-duration: 0.3s;
}

.optionButton:hover {
    color: rgb(255, 174, 184);
    scale: 1.1 1.1;
}

.menu-container {
}
